<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="TfsIntegrationJobServiceTraceSwitch" value="3"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="MaxLogFileSizeInByte" value="100000000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
