<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Jobs>
    <!-- SyncMonitorJob sample configuration and schedule. -->
    <Job ReferenceName="{776F372A-8B86-4516-A2CA-A7BE0ABC1AB6}" Enabled="true">
      <Trigger Option="IntervalBased">
        <Setting>60</Setting>
      </Trigger>
      <Settings>
        <NamedSettings>
          <Setting SettingKey="Verbose" SettingValue="true" />
        </NamedSettings>
        <CustomSettings>
          <!-- No schema validation for this section -->
        </CustomSettings>
      </Settings>
    </Job>
    <!-- VCServerDiff sample configuration and schedule. -->
    <Job ReferenceName="{8CEE17A0-0414-49E6-B86D-F8ECDFA9A2FA}" Enabled="false">
      <Trigger Option="TimeBased">
        <Setting>1:00:00 AM</Setting>
      </Trigger>
      <Settings>
        <NamedSettings>
          <!-- Set Verbose to true to include verbose messages related to this job in the log file -->
          <!-- <Setting SettingKey="Verbose" SettingValue="true" /> -->
          <!-- Set NoContentComparison to true to compare for the existance of items on both servers, but not the contents -->
          <!-- <Setting SettingKey="NoContentComparison" SettingValue="true" /> -->
        </NamedSettings>
        <CustomSettings>
        </CustomSettings>
      </Settings>
    </Job>
    <!-- WITServerDiff sample configuration and schedule. -->
    <Job ReferenceName="{2964F398-E06D-470A-8AA4-99FD5D42AD5F}" Enabled="false">
      <Trigger Option="TimeBased">
        <Setting>3:00:00 AM</Setting>
      </Trigger>
      <Settings>
        <NamedSettings>
          <!-- Set Verbose to true to include verbose messages related to this job in the log file -->
          <!-- <Setting SettingKey="Verbose" SettingValue="true" /> -->
          <!-- Set NoContentComparison to true to compare for the existance of items on both servers, but not the contents -->
          <!-- <Setting SettingKey="NoContentComparison" SettingValue="true" /> -->
        </NamedSettings>
        <CustomSettings>
        </CustomSettings>
      </Settings>
    </Job>
  </Jobs>
</Configuration>