<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TfsMigrationDBConnection"
         connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Tfs_IntegrationPlatform;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="WorkSpaceRoot" value="C:\TfsIPData"/>
    <add key="CommandTimeoutValue" value="900"/>
    <add key="UseWindowsService" value="false"/>
    <add key="TfsIntegrationPlatformTraceSwitch" value="3"/>
    <add key="VCMigrationEngineTraceSwitch" value="2"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/MigrationService" binding="netNamedPipeBinding"
        bindingConfiguration="netpipeMigrationServiceBinding" contract="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.IMigrationService"
        name="netPipelineMigrationServiceEndpoint">
        <identity>
          <userPrincipalName value="" />
          <certificateReference storeName="My" storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/RuntimeTrace" binding="netNamedPipeBinding"
        bindingConfiguration="netpipeMigrationServiceBinding" contract="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.IRuntimeTrace"
        name="netPipelineRuntimeTraceEndpoint">
        <identity>
          <userPrincipalName value="" />
          <certificateReference storeName="My" storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug />
          <serviceMetadata />
          <serviceThrottling maxConcurrentSessions="1000" />
          <serviceTimeouts transactionTimeout="02:00:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netpipeMigrationServiceBinding" closeTimeout="00:30:00" receiveTimeout="00:30:00"
          openTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="nettcpMigrationServiceBinding" closeTimeout="00:30:00" receiveTimeout="00:30:00"
          openTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          portSharingEnabled="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.MigrationService">
        <clear />
        <endpoint address="net.pipe://localhost/MigrationService" binding="netNamedPipeBinding"
          bindingConfiguration="netpipeMigrationServiceBinding" name="netpipe_MigrationService"
          contract="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.IMigrationService"
          listenUriMode="Explicit">
          <identity>
            <userPrincipalName value="" />
            <servicePrincipalName value="" />
            <certificateReference storeName="My" storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.RuntimeTrace">
        <clear />
        <endpoint address="net.pipe://localhost/RuntimeTrace" binding="netNamedPipeBinding"
          bindingConfiguration="netpipeMigrationServiceBinding" name="netpipe_RuntimeTrace"
          contract="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.IRuntimeTrace"
          listenUriMode="Explicit">
          <identity>
            <userPrincipalName value="" />
            <servicePrincipalName value="" />
            <certificateReference storeName="My" storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost/RuntimeTrace" binding="netTcpBinding"
          bindingConfiguration="nettcpMigrationServiceBinding" name="nettcp_RuntimeTrace"
          contract="Microsoft.TeamFoundation.Migration.Toolkit.WCFServices.IRuntimeTrace">
          <identity>
            <userPrincipalName value="" />
            <servicePrincipalName value="" />
            <certificateReference storeName="My" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
