<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.TeamFoundation.Migration.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.TeamFoundation.Migration.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <Microsoft.TeamFoundation.Migration.Shell.Properties.Settings>
        <setting name="WindowState" serializeAs="String">
          <value>Normal</value>
        </setting>
        <setting name="WindowSize" serializeAs="String">
          <value>800, 600</value>
        </setting>
        <setting name="WindowLocation" serializeAs="String">
          <value>25, 25</value>
        </setting>
        <setting name="UpgradeRequired" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LastSkin" serializeAs="String">
          <value/>
        </setting>
        <setting name="LastCulture" serializeAs="String">
          <value>(Default)</value>
        </setting>
        <setting name="WindowWidth" serializeAs="String">
          <value>800</value>
        </setting>
        <setting name="WindowHeight" serializeAs="String">
          <value>600</value>
        </setting>
        <setting name="WindowLeft" serializeAs="String">
          <value>25</value>
        </setting>
        <setting name="WindowTop" serializeAs="String">
          <value>25</value>
        </setting>
        <setting name="LastOpenSavePath" serializeAs="String">
          <value/>
        </setting>
        <setting name="ShowStartupDialog" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LastSessionGroupUniqueId" serializeAs="String">
          <value>00000000-0000-0000-0000-000000000000</value>
        </setting>
        <setting name="RefreshIntervalSeconds" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="IsOutputEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="IsAdvancedRulesEnabled" serializeAs="String">
          <value>False</value>
        </setting>
      </Microsoft.TeamFoundation.Migration.Shell.Properties.Settings>
    </userSettings>
    <applicationSettings>
      <Microsoft.TeamFoundation.Migration.Shell.Properties.Settings>
        <setting name="TraceSourceName" serializeAs="String">
          <value>Application</value>
        </setting>
        <setting name="PluginDirectories" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>Plugins</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="MaxMRUEntryCount" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="SkinDirectories" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>Skins</string>
            </ArrayOfString>
          </value>
        </setting>
      </Microsoft.TeamFoundation.Migration.Shell.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
