<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TfsMigrationConsolidatedDBEntities" connectionString="metadata=res://*/EntityModel.ConfigurationEntityModel.csdl|res://*/EntityModel.ConfigurationEntityModel.ssdl|res://*/EntityModel.ConfigurationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=Tfs_IntegrationPlatform;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RuntimeEntityModel" connectionString="metadata=res://*/EntityModel.RuntimeEntityModel.csdl|res://*/EntityModel.RuntimeEntityModel.ssdl|res://*/EntityModel.RuntimeEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=Tfs_IntegrationPlatform;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
