<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- enable the following appSetting for debugging WCF service -->
    <!-- <add key="WCFOperationTimeoutInSecs" value="1800"/> -->
  </appSettings>
    <!--<system.diagnostics>
      <switches>
        <add name="TfsIntegrationPlatformTraceSwitch" value="3" />
      </switches>
    </system.diagnostics>-->
</configuration>