<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Jobs>
    <Job ReferenceName="{776F372A-8B86-4516-A2CA-A7BE0ABC1AB6}" Enabled="true">
      <Trigger Option="IntervalBased">
        <Setting>60</Setting>
      </Trigger>
      <Settings>
        <NamedSettings>
          <Setting SettingKey="Verbose" SettingValue="true" />
        </NamedSettings>
        <CustomSettings>
          <!-- No schema validation for this section -->
        </CustomSettings>
      </Settings>
    </Job>
  </Jobs>
</Configuration>