<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Jobs>
    <Job ReferenceName="{2964F398-E06D-470A-8AA4-99FD5D42AD5F}" Enabled="true">
      <Trigger Option="TimeBased">
        <Setting>3:00:00 AM</Setting>
      </Trigger>
      <Settings>
        <NamedSettings>
          <!-- Set Verbose to true to include verbose messages related to this job in the log file -->
          <!-- <Setting SettingKey="Verbose" SettingValue="true" /> -->
          <!-- Set NoContentComparison to true to compare for the existance of items on both servers, but not the contents -->
          <!-- <Setting SettingKey="NoContentComparison" SettingValue="true" /> -->
        </NamedSettings>
        <CustomSettings>
        </CustomSettings>
      </Settings>
    </Job>
  </Jobs>
</Configuration>