<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncMonitorConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level.
            "1" error messages only
            "2" errors and warnings
            "3" more detailed error information
            "4" verbose trace information
       -->
      <add name="Verbose" value="4" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SyncMonitorConsole" />
        <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="SyncMonitorConsoleTrace.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <SyncMonitorConsole.Properties.Settings>
      <setting name="PollIntervalSeconds" serializeAs="String">
        <value>60</value>
      </setting>
    </SyncMonitorConsole.Properties.Settings>
  </applicationSettings>
</configuration>